#visual studio code
.cache/
build/
compile_commands.json
.vscode/c_cpp_properties.json

#visual studio
.vs/
CMakeSettings.json

#CLion OR Jetbrain
.idea/

#QtCreator
CMakeLists.txt.user

#debug
temp/
src/core/arduinoCode/

